body {
  margin: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-sm-6: 13.6px;
  --font-size-smi-8: 12.8px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue: #3862d5;
  --color-gray: rgba(255, 255, 255, 0);
  --color-darkslategray: #292f3b;
  --color-darkgray: #999;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-7xs: 6px;
}
